site_name: SRE Concepts
site_description: "SRE Concepts Knowledge Base"

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.tracking
    - toc.follow
    - content.code.copy


plugins:
  - search:
      lang:
        - en
      separator: '[\s\-\.]+'

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - smarty
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.highlight
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.arithmatex
  - toc:
      permalink: true


extra_javascript:
  - js/bookmarks.js

extra_css:
  - stylesheets/bookmarks.css
